{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": false
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          "@utils": "./src/utils",
          "@views": "./src/views"
        },
        "extensions": [".js", ".jsx", ".tsx"]
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}